<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta http-equiv="refresh" content="30"/>-->
    <title>Creating Real-Time Charts with Flask</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">
</head>
<body >



<img name='imagename' id='stream' src='static/mygif.gif' height="700" width="1000">
<img name='imagename' id='stream' src='static/signal.gif' height="50" width="50">
<img name='imagename' id='stream' src='static/fault.gif' height="100" width="200">


<script type="text/javascript">
    (function() {
    var rotator = document.getElementById('stream'), //get the element
        dir = 'static/',                              //images folder
        delayInSeconds = 1,                           //delay in seconds
        num = 0,                                      //start number
        len = 0;                                      //limit
    setInterval(function(){                           //interval changer
        //rotator.src = dir + num+'.png';
        rotator.src = rotator.src ;   
        num = (num === len) ? 0 : ++num;              //reset if last image reached
    }, delayInSeconds * 39000);
}());


</script>

</body>
</html>