body{
  margin: none;
  padding: none;
}

h2{
  padding: none;
  margin: 0px 0px;
}

ul{
  list-style-type: none;
  margin: none;
  padding: 0;
}

ul button{
  float:left;
  height: auto;
  width:auto;
  margin:5px 4px ;
  text-align: left;
  border: 1px solid blue;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  font-size: 30px;
  background:rgba(0, 0, 255); 
  color:white;
  padding: 10px 40px;

}


ul button:hover{
  float:left;
  height: auto;
  width:auto;
  margin:5px 4px ;
  text-align: left;
  border: 1px solid blue;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  cursor: pointer;
  font-size: 30px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 255, .5);;
  /*transform: rotate(1deg);*/
  padding: 10px 40px;
  border-radius: 2px;
}

ul li:nth-child(3){
  margin-right:0;
}
ul li a{
  background:#5A9BD5;
  display:block;
  width:100%;
  padding:15px 0;
}

#title{
  color: red;
  display: inline-block;
}

#meta{
  display: inline-block;
  width: auto;
  vertical-align: top;
}

#meta table {
  border:1px solid rgba(0,0,0,0.2);
  border-collapse: collapse;
  width: 100%;
}

#meta th, td {
  text-align: left;
  padding: 8px;

}

/*#meta tr:nth-child(even){background-color: #f2f2f2}*/

#meta th {
  background-color: rgba(0,23,255,0.75);
  color: white;
}





#data{
    display: inline-block;
  width: auto;
}
#data table {
  border:1px solid white;
  border-collapse: collapse;
  width: 100%;
}

#data th, td {
  text-align: left;
  padding: 8px;
}

#data tr:nth-child(even){background-color: #f2f2f2}

#data th {
  background-color: #4CAF50;
  color: white;
}



#fixedbutton {
    position: fixed;
    top: 0px;
    left: 0px; 
}

#config button{
background-color: orange;
}

#config button:hover{
pointer-events: none;
}