body{
	padding: 10px 40px;
}

#chart_box{
	background-color: white;
	height: 500px;
	width: 1000px;
	border: 2px solid gray;
	box-sizing: border-box;
	align-self: center;
	align-content: center;
	margin: 20px 0px;
}

img{
	height: 800px;
	width: 1400px;
	box-sizing: border-box;
	align-self: center;
	align-content: center;
	margin: 20px 0px;
	
}