<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='primary.css')}}">
</head>
<body>


<center>

	<div id="fixedbutton"><form action="{{ url_for('configure') }}" method="post"><button id="config" type="submit" name="configure" value="back" >Configure</button></form></div>

	<h1>Simulation: <div id='title'>{{title}}</div></h1>

</center>



<div id='meta'><br><h2>Metadata</h2>{{meta|safe}}<h2>Stats:</h2>{{describe|safe}}</div>

<div id='data'><br><h2>Sample</h2>{{data|safe}}</div>

<form action="{{ url_for('selected_simulation') }}" method="post">
<ul>

	<button type="submit" name="selected" value="back" style="background-color: white;color: black;border:1px solid black;"><< Back</button>
	<button type="submit" name="selected" value="run" style="background-color: red;color: white;border:1px solid black;">RUN</button>
	{% for name in lista %}
  	<button type="submit" name="selected" value="{{name}}">{{name}}</button>
    {% endfor %}
</ul>

</form>

</body>
</html>